@import "variables";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/* enlaces no visitados */
a:link{
  color: blue;
}
/* enlaces visitados */
a:visited{
  color: purple;
}
/* enlaces activos */
a:active{
  color: lime;
}
/* el mouse sobre el enlace */
a:hover{
  background: grey;
}

header {
    background-color:$background-colorPiel;
    li{
        color: $background-colorMorado;
    }
}

