$colorPrimero: #ffe7d4;
$colorSegundo: #65d4cc;
$colorTercero: #493148;
$colorCuarto: #f89379;




// /* colores agencia allegro
// color piel: #ffe7d4
// color celeste:#65d4cc
// color morado:#493148
// color naranjo:#f89379





