/* colores agencia allegro
color piel: #ffe7d4
color celeste:#65d4cc
color morado:#493148
color naranjo:#f89379


*/

/* propiedades iniciales */
html{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}
/* terminan las propiedades */
/* comienza el header */
header{
    background-color:#ffe7d4;
    text-align: center;
}


.contenedor{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;

}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{ 
    text-decoration: none;
    color: #65d4cc;
    font-weight: 700;
    font-size: 18px;
}


/* termina el header */

/* comienza main */


.parteDeArriba{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f89379;
    background-size: cover;
    height: 1100px;
    color: #f89379;
    background: url(../img/pexels-mikael-blomkvist-8690908\ \(1\).jpg);
    background-size: contain;
}
h1{
    font-size: 40px;
    margin: 400px 0 30px 0;
}

.primerosBotones{
    display: flex;
}

.primerosBotones .botones1{
    margin: 20px;
}

/* --------------------------------------CARDS------------------------ */
.cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;

    margin: 100px auto;
}
h2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.card{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    width: 330px;
    border-radius: 15px;
}

.img{ 
    width: 100%;
}




/* termina main */


 
